@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Inter";
    border: none;
}
.block{
    display: block;
}
.block-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 24px 0px;
    gap: 24px;
    width: 280px;
    height: 100vh;
    background: #111827;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
}
.block-left1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 11px 24px;
    width: 248px;
    height: 72px;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 8px;
    margin-bottom: 24px;
}
.left1-left h1{
    font-weight: 500;
    font-size: 16px;
}
.left1-left span{
    all: unset;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #9CA3AF;
}
.block-left-top hr{
    border: none;
    border-bottom: 1px solid #1F2937;
    width: 100%;
    height: 2px;
    margin-bottom: 30px;
}
ul{
    margin-left: 16px;
}
ul li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}
ul li img{
    height: 20px;
    width: 20px;
}
ul li p{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #D1D5DB;
}
ul li:nth-child(1) p{
    color: #10B981;
}
.block-left-bottom{
    padding-left:16px ;
}
.block-left-bottom h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 175%;
    color: #F3F4F6;
}
.block-left-bottom p{
    all: unset;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #9CA3AF;
}
.block-left-bottom button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 248px;
    height: 40px;
    background: #10B981;
    border-radius: 8px;
    border: none;
    color: white;
    cursor:pointer;
}
.block-left-bottom img{
    display: block;
    margin: 0 auto;
}
.block-left hr{
    border: none;
    border-bottom: 1px solid #1F2937;
    width: 100%;
    height: 2px;
}
/* ====================== block-right ======================== */
.contener{
    padding:0 20px;
    background-color: #F9FAFC;
}

.block-right{
    width: 81.5%;
    background-color: #F9FAFC;
    margin-left: 280px;
}
header{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    padding: 12px 24px;
    width: 100%;
    height: 64px;
    background: #FFFFFF;
    margin-bottom: 40px;
    box-shadow: 0px 2px 4px rgba(31, 41, 55, 0.06), 0px 4px 6px rgba(100, 116, 139, 0.12);
}
.header-right{
    display: flex;
    align-items: center;
    gap: 30px;
}

.block1{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 32px;
}

.block1_grid{
    height: 178px;
    box-shadow: 0px 1px 1px rgba(100, 116, 139, 0.06), 0px 1px 2px rgba(100, 116, 139, 0.1);
    border-radius: 8px;
    padding: 32px 24px;
}

.block1_grid-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.f1{
    height: 657px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.w2{
    width: 500px;
}